src/sec/forms/portal/Form_CFPORTAL.definition.filer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.sec.gov/edgar/crowdfunding"
  xmlns:ns1="http://www.sec.gov/edgar/common"
  xmlns:ns2="http://www.sec.gov/edgar/statecodes"
  xmlns:ns3="http://www.sec.gov/edgar/common_drp"
  xmlns:ns4="http://www.sec.gov/edgar/crowdfunding_drp" targetNamespace="http://www.sec.gov/edgar/crowdfunding" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
  <xs:import namespace="http://www.sec.gov/edgar/statecodes" schemaLocation="eis_stateCodes.xsd"/>
  <xs:import namespace="http://www.sec.gov/edgar/common_drp" schemaLocation="eis_Common_DRP.xsd"/>
  <xs:import namespace="http://www.sec.gov/edgar/crowdfunding_drp" schemaLocation="eis_Crowd_Funding_DRP.xsd"/>
  <xs:simpleType name="SUBMISSION_TYPE">
    <xs:annotation>
      <xs:documentation> Enumerated values and descriptions: CFPORTAL: Initial application of funding portal, CFPORTAL/A: Amendment to  registration,  including a successor registration, CFPORTAL-W: Withdrawal of the funding portals registration </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="CFPORTAL"/>
      <xs:enumeration value="CFPORTAL/A"/>
      <xs:enumeration value="CFPORTAL-W"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LEGAL_NAME_CHANGE_TYPE">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Funding portal name(1A)"/>
      <xs:enumeration value="Business name (1B)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LEGAL_STATUS_FORM_TYPE">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Corporation"/>
      <xs:enumeration value="Sole Proprietorship"/>
      <xs:enumeration value="Partnership"/>
      <xs:enumeration value="Limited Liability Company"/>
      <xs:enumeration value="Other (Please Specify)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PR_TYPE">
    <xs:restriction base="xs:token">
      <xs:enumeration value="PR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OWNERSHIP_CODE_TYPE">
    <xs:annotation>
      <xs:documentation> Enumerated values and descriptions:
                NA-less than 5%,
                A-5% but less than 10%,
                B-10% but less than 25%,
                C-25% but less than 50%,
                D-50% but less than 75%,
                E-75% or more,
                G - Other (general partner, trustee, or elected member) </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:token">
      <xs:enumeration value="NA"/>
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="E"/>
      <xs:enumeration value="G"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ENTITY_TYPE">
    <xs:annotation>
      <xs:documentation> Enumerated values and descriptions: DE: Domestic Entity, FE: Foreign Entity,  NP: Natural Person </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="DE"/>
      <xs:enumeration value="FE"/>
      <xs:enumeration value="NP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AMENDMENT_TYPE">
    <xs:annotation>
      <xs:documentation> Enumerated values and descriptions: A: addition, D: deletion,  C: change in information about the same person </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="A"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BOOK_KEEPING_ENTITY_TYPE">
    <xs:annotation>
      <xs:documentation>Enumerated values and descriptions:
			BO: one of applicant's branch offices or affiliates,
			TP: a third party unaffiliated recordkeeper,
			O: other
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BO"/>
      <xs:enumeration value="TP"/>
      <xs:enumeration value="O"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FILER_CREDENTIALS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FILER_CREDENTIALS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filerCik" type="ns1:CIK_TYPE" minOccurs="1"/>
      <xs:element name="filerCcc" type="ns1:CCC_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PREV_NAMES_AND_WEBSITE_URLS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the PREV_NAMES_AND_WEBSITE_URLS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="prevNamesOfPortal" type="ns1:ENTITY_NAME_TYPE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="prevWebSiteUrls" type="ns1:STRING_256_TYPE" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OTHER_NAMES_AND_WEBSITE_URLS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the OTHER_NAMES_AND_WEBSITE_URLS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherNamesUsedPortal" type="ns1:STRING_150_TYPE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="webSiteOfPortal" type="ns1:STRING_256_TYPE" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PORTAL_CONTACT_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the PORTAL_CONTACT_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="portalContactPhone" type="ns1:PHONE_TYPE" minOccurs="1"/>
      <xs:element name="portalContactFax" type="ns1:PHONE_TYPE" minOccurs="0"/>
      <xs:element name="portalContactEmail" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FOREIGN_REGISTRATION_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FOREIGN_REGISTRATION_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="foreignFinancialRegulatory" type="ns1:STRING_150_TYPE" minOccurs="0"/>
      <xs:element name="registrationNumber" type="ns1:STRING_256_TYPE" minOccurs="0"/>
      <xs:element name="country" type="ns1:NON_US_COUNTRY_CODES" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FILER_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FILER_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filerCredentials" type="FILER_CREDENTIALS_TYPE" minOccurs="1"/>
      <xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FLAGS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FLAGS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="confirmingCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
      <xs:element name="returnCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
      <xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CONTACT_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the CONTACT_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="contactName" type="ns1:NAME_TYPE_150" minOccurs="1"/>
      <xs:element name="contactPhone" type="ns1:PHONE_TYPE" minOccurs="1"/>
      <xs:element name="contactEmail" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NOTIFICATIONS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the NOTIFICATIONS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="notificationEmail" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ACQUIRED_HISTORY_DETAILS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the ACQUIRED_HISTORY_DETAILS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="acquiredFundingPortal" type="ns1:ENTITY_NAME_TYPE" minOccurs="0"/>
      <xs:element name="acquiredPortalFileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="acquiredDesc" type="ns1:STRING_4000_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CRIMINAL_DISCLOSURE_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the CRIMINAL_DISCLOSURE_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isConvictedOfFelony" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isChargedWithFelony" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isConvictedMisdemeanor" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isChargedMisdemeanor" type="ns1:YES_NO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="REGULATORY_ACTION_DISCLOSURE_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the REGULATORY_ACTION_DISCLOSURE_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isMadeFalseStatement" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isViolatedRegulation" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isCauseOfDenial" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isOrderAgainst" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isImposedPenalty" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isUnEthical" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundInViolationOfRegulation" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundInCauseOfDenial" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isOrderAgainstActivity" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isDeniedLicense" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundMadeFalseStatement" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundInViolationOfRules" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundInCauseOfSuspension" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isDisciplined" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isAuthorizedToActAttorney" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isRegulatoryComplaint" type="ns1:YES_NO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CIVIL_JUDICIAL_ACTION_DISCLOSURE_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the CIVIL_JUDICIAL_ACTION_DISCLOSURE_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isEnjoined" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isFoundInViolationOfRegulation" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isDismissed" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="isNamedInCivilProceeding" type="ns1:YES_NO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FINANCIAL_DISCLOSURE_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FINANCIAL_DISCLOSURE_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!-- G section -->
      <xs:element name="hasSubjectOfBankruptcy" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="hasTrusteeAppointed" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="hasBondDenied" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="doesAppHaveLiens" type="ns1:YES_NO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NON_SECURITIES_RELATED_BUSINESS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the NON_SECURITIES_RELATED_BUSINESS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isEngagedInNonSecurities" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="nonSecuritiesBusinessDesc" type="ns1:STRING_256_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="INVESTOR_FUNDS_CONTACTS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the INVESTOR_FUNDS_CONTACTS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="investorFundsContactName" type="ns1:NAME_TYPE_150" minOccurs="0"/>
      <xs:element name="investorFundsAddress" type="ns1:ADDRESS_TYPE" minOccurs="0"/>
      <xs:element name="investorFundsContactPhone" type="ns1:PHONE_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FILER_INFO_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FILER_INFO_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="filer" type="FILER_TYPE" minOccurs="1"/>
      <xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE" minOccurs="0"/>
      <xs:element name="flags" type="FLAGS_TYPE" minOccurs="0"/>
      <xs:element name="contact" type="CONTACT_TYPE" minOccurs="0"/>
      <xs:element name="notifications" type="NOTIFICATIONS_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IDENTIFYING_INFORMATION_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the IDENTIFYING_INFORMATION_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amendmentExplanation" type="ns1:STRING_1K_TYPE" minOccurs="0"/>
      <xs:element name="nameOfPortal" type="ns1:ENTITY_NAME_TYPE" minOccurs="1"/>
      <xs:element name="otherNamesAndWebsiteUrls" type="OTHER_NAMES_AND_WEBSITE_URLS_TYPE" minOccurs="0" maxOccurs="30"/>
      <xs:element name="irsEmployerIdNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
      <xs:element name="legalNameChange" type="LEGAL_NAME_CHANGE_TYPE" minOccurs="0" maxOccurs="2"/>
      <xs:element name="prevNamesAndWebsiteUrls" type="PREV_NAMES_AND_WEBSITE_URLS_TYPE" minOccurs="0" maxOccurs="10"/>
      <xs:element name="portalAddress" type="ns1:ADDRESS_TYPE" minOccurs="1"/>
      <xs:element name="mailingAddressDifferent" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
      <xs:element name="portalMailingAddress" type="ns1:ADDRESS_TYPE" minOccurs="0"/>
      <xs:element name="otherOfficeLocationAddress" type="ns1:ADDRESS_TYPE" minOccurs="0"/>
      <xs:element name="portalContact" type="PORTAL_CONTACT_TYPE" minOccurs="1"/>
      <xs:element name="contactEmployeeName" type="ns1:INDIVIDUAL_NAME_TYPE" minOccurs="1"/>
      <xs:element name="contactEmployeeTitle" type="ns1:STRING_256_TYPE" minOccurs="1"/>
      <xs:element name="employeeContact" type="PORTAL_CONTACT_TYPE" minOccurs="0"/>
      <xs:element name="fiscalYearEnd" type="ns1:MONTH_TYPE" minOccurs="0"/>
      <xs:element name="anyPreviousRegistrations" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="secFileNumbers" type="ns1:FILE_NUMBER_TYPE" minOccurs="0" maxOccurs="50"/>
      <xs:element name="anyForeignRegistrations" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="foreignRegistrations" type="FOREIGN_REGISTRATION_TYPE" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FORM_OF_ORGANIZATION_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the FORM_OF_ORGANIZATION_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="legalStatusForm" type="LEGAL_STATUS_FORM_TYPE" minOccurs="1"/>
      <xs:element name="legalStatusOtherDesc" type="ns1:STRING_256_TYPE" minOccurs="0"/>
      <xs:element name="jurisdictionOrganization" type="ns2:STATE_COUNTRY_CODE" minOccurs="0"/>
      <xs:element name="dateIncorporation" type="ns1:DATE_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SUCCESSIONS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the SUCCESSIONS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isSucceedingBusiness" type="ns1:YES_NO_TYPE" minOccurs="1"/>
      <xs:element name="acquiredHistoryDetails" type="ACQUIRED_HISTORY_DETAILS_TYPE" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CONTROL_RELATIONSHIPS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the CONTROL_RELATIONSHIPS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fullLegalNames" type="LEGAL_NAME_TYPE" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LEGAL_NAME_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the LEGAL_NAME_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fullLegalName" type="ns1:NAME_TYPE_150" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DISCLOSURE_QUESTIONS">
    <xs:annotation>
      <xs:documentation>These elements are part of the DISCLOSURE_INFORMATION_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criminalDisclosure" type="CRIMINAL_DISCLOSURE_TYPE" minOccurs="1"/>
      <xs:element name="regulatoryActionDisclosure" type="REGULATORY_ACTION_DISCLOSURE_TYPE" minOccurs="1"/>
      <xs:element name="civilJudicialActionDisclosure" type="CIVIL_JUDICIAL_ACTION_DISCLOSURE_TYPE" minOccurs="1"/>
      <xs:element name="financialDisclosure" type="FINANCIAL_DISCLOSURE_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ESCROW_ARRANGEMENTS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the ESCROW_ARRANGEMENTS_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="investorFundsContacts" type="INVESTOR_FUNDS_CONTACTS_TYPE" minOccurs="0" maxOccurs="50"/>
      <xs:element name="compensationDesc" type="ns1:STRING_10K_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EXECUTION_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the EXECUTION_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="executionDate" type="ns1:DATE_TYPE" minOccurs="1"/>
      <xs:element name="fullLegalNameFundingPortal" type="ns1:ENTITY_NAME_TYPE" minOccurs="1"/>
      <xs:element name="personSignature" type="ns1:STRING_255_TYPE" minOccurs="1"/>
      <xs:element name="personTitle" type="ns1:STRING_60_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ENTITY_OR_NATURAL_PERSON_TYPE">
    <xs:sequence>
      <xs:element name="fullLegalName" type="ns1:NAME_TYPE_150" minOccurs="0"/>
      <xs:element name="entityType" type="ENTITY_TYPE" minOccurs="0"/>
      <xs:element name="titleStatus" type="ns1:STRING_256_TYPE" minOccurs="0"/>
      <xs:element name="dateOfTitleStatusAcquired" type="ns1:DATE_MM_YYYY_TYPE" minOccurs="0"/>
      <xs:element name="ownershipCode" type="OWNERSHIP_CODE_TYPE" minOccurs="0"/>
      <xs:element name="controlPerson" type="ns1:YES_NO_TYPE" minOccurs="0"/>
      <xs:element name="pr" type="PR_TYPE" minOccurs="0"/>
      <xs:element name="crdNumber" type="ns1:CRD_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="irsTaxNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
      <xs:element name="irsTaxEmployerIdNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AMEND_ENTITY_OR_NATURAL_PERSON_TYPE">
    <xs:sequence>
      <xs:element name="fullLegalName" type="ns1:NAME_TYPE_150" minOccurs="0"/>
      <xs:element name="entityType" type="ENTITY_TYPE" minOccurs="0"/>
      <xs:element name="typeOfAmendment" type="AMENDMENT_TYPE" minOccurs="0"/>
      <xs:element name="titleStatus" type="ns1:STRING_256_TYPE" minOccurs="0"/>
      <xs:element name="dateOfTitleStatusAcquired" type="ns1:DATE_MM_YYYY_TYPE" minOccurs="0"/>
      <xs:element name="ownershipCode" type="OWNERSHIP_CODE_TYPE" minOccurs="0"/>
      <xs:element name="controlPerson" type="ns1:YES_NO_TYPE" minOccurs="0"/>
      <xs:element name="pr" type="PR_TYPE" minOccurs="0"/>
      <xs:element name="crdNumber" type="ns1:CRD_NUMBER_TYPE" minOccurs="0"/>
      <xs:element name="irsTaxNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
      <xs:element name="irsTaxEmployerIdNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SCHEDULE_A_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the SCHEDULE_A_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="entityOrNaturalPerson" type="ENTITY_OR_NATURAL_PERSON_TYPE" minOccurs="1" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SCHEDULE_B_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the SCHEDULE_B_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amendEntityOrNaturalPerson" type="AMEND_ENTITY_OR_NATURAL_PERSON_TYPE" minOccurs="1" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SCHEDULE_C_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the SCHEDULE_C_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="agentName" type="ns1:NAME_TYPE_150" minOccurs="0"/>
      <xs:element name="agentAddress" type="ns1:ADDRESS_TYPE" minOccurs="0"/>
      <xs:element name="personSignature" type="ns1:STRING_150_TYPE" minOccurs="0"/>
      <xs:element name="printedName" type="ns1:NAME_TYPE_150" minOccurs="0"/>
      <xs:element name="personTitle" type="ns1:STRING_150_TYPE" minOccurs="0"/>
      <xs:element name="signatureDate" type="ns1:DATE_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SCHEDULE_D_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the SCHEDULE_D_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateBusinessCeasedWithdrawn" type="ns1:DATE_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingDetails" type="BOOK_KEEPING_DETAILS_TYPE" minOccurs="0" maxOccurs="5"/>
      <xs:element name="isInvestigated" type="ns1:YES_NO_TYPE" minOccurs="0"/>
      <xs:element name="investorInitiatedComplaint" type="ns1:YES_NO_TYPE" minOccurs="0"/>
      <xs:element name="privateCivilLitigation" type="ns1:YES_NO_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BOOK_KEEPING_DETAILS_TYPE">
    <xs:annotation>
      <xs:documentation>These elements are part of the BOOK_KEEPING_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bookKeepingEntityName" type="ns1:ENTITY_NAME_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingEntityAddress" type="ns1:ADDRESS_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingEntityPhone" type="ns1:PHONE_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingEntityFax" type="ns1:PHONE_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingEntityType" type="BOOK_KEEPING_ENTITY_TYPE" minOccurs="0"/>
      <xs:element name="isAddressPrivateResidence" type="ns1:YES_NO_TYPE" minOccurs="0"/>
      <xs:element name="bookKeepingLocationDesc" type="ns1:STRING_256_TYPE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HEADER_DATA">
    <xs:annotation>
      <xs:documentation>These elements are part of the HEADER_DATA_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="submissionType" type="SUBMISSION_TYPE" minOccurs="1"/>
      <xs:element name="filerInfo" type="FILER_INFO_TYPE" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FORM_DATA">
    <xs:annotation>
      <xs:documentation>These elements are part of the FORM_DATA_TYPE group</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifyingInformation" type="IDENTIFYING_INFORMATION_TYPE" minOccurs="1"/>
      <xs:element name="formOfOrganization" type="FORM_OF_ORGANIZATION_TYPE" minOccurs="1"/>
      <xs:element name="successions" type="SUCCESSIONS_TYPE" minOccurs="1"/>
      <xs:element name="controlRelationships" type="CONTROL_RELATIONSHIPS_TYPE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="disclosureAnswers" type="DISCLOSURE_QUESTIONS" minOccurs="1"/>
      <xs:element name="nonSecuritiesRelatedBusiness" type="NON_SECURITIES_RELATED_BUSINESS_TYPE" minOccurs="1"/>
      <xs:element name="escrowArrangements" type="ESCROW_ARRANGEMENTS_TYPE" minOccurs="0"/>
      <xs:element name="execution" type="EXECUTION_TYPE" minOccurs="1"/>
      <xs:element name="scheduleA" type="SCHEDULE_A_TYPE" minOccurs="1"/>
      <xs:element name="scheduleB" type="SCHEDULE_B_TYPE" minOccurs="0" maxOccurs="1"/>
      <xs:element name="scheduleC" type="SCHEDULE_C_TYPE" minOccurs="0"/>
      <xs:element name="scheduleD" type="SCHEDULE_D_TYPE" minOccurs="0"/>
      <xs:element name="criminalDrpInfo" type="ns4:CRIMINAL_DISCLOSURE_CONTAINER" minOccurs="0"/>
      <xs:element name="regulatoryDrpInfo" type="ns4:REGULATORY_DISCLOSURE_CONTAINER" minOccurs="0"/>
      <xs:element name="civilJudicialDrpInfo" type="ns4:CIVIL_JUDICIAL_DISCLOSURE_CONTAINER" minOccurs="0"/>
      <xs:element name="bankruptcySipcDrpInfo" type="ns4:BANKRUPTCY_DISCLOSURE_CONTAINER" minOccurs="0"/>
      <xs:element name="bondDrpInfo" type="ns4:BOND_DISCLOSURE_CONTAINER" minOccurs="0"/>
      <xs:element name="judgementDrpInfo" type="ns4:JUDGEMENT_DISCLOSURE_CONTAINER" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="edgarSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
        <xs:element name="headerData" type="HEADER_DATA"/>
        <xs:element name="formData" type="FORM_DATA"/>
        <xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>